{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="{% static 'myapp/StyleContacto.css' %}">
    <script src="{% static 'myapp/comentarios.js' %}" defer></script> <!-- Enlazamos el archivo JS -->
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=   device-width, initial-scale=1.0">
    <title>Chocorol</title>
</head>
<body>
    <header>
        <marquee width="99.9%" direction="right" height="60px"> <h1 class="words">Chocorol Marinela   </h1>         </marquee>
        <nav>
            <fieldset>
                <a href="{% url 'home' %}">Historia</a>
                <a href="{% url 'futuro' %}">Vision</a>
                <a href="{% url 'sabores' %}">Sabores</a>
                <a href="{% url 'nutricional' %}">Salud</a>
                <a href="#">Contacto</a>
            </fieldset>
         
        </nav>

    </header>
    <main>
        <article>
            <hr>
            <h2>Formas de Contactarnos</h2>
            <ol>
                <li>Numero de atencion a Clientes: <a href="tel:+81 2731 5637" target="_blank">81 2731 5637</a>📞 </li>
                <li>Pagina Web: <a href="https://marinelausa.com/es/chocoroles" target="_blank">Marinelausa.com </a>👨‍💻 </li>
                <li>Redes sociales: <a href="https://www.facebook.com/ChocorolesMarinelaMexico/?locale=es_LA" target="_blank">Facebook </a>📲</li>
                <li>Ubicacion actual: <a href="https://maps.app.goo.gl/mMVYCgMsC2zvNZRPA" target="_blank">25.297540690931253, -100.0274737782703 </a>🌐</li>
               
            </ol>
            <hr class="blanco">
            <br>
            <p>Dinos tus comentarios!</p>

                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="datos">
                        <label for="eemail">Correo:</label>
                        <input type="email" name="correo" id="eemail" required>
                        <br><br>
                        <label for="comentario">Comentario:</label><br>
                        <textarea name="comentario" id="comentario" rows="10" cols="50" placeholder="Escribe aquí tu comentario..." required></textarea>
                        <br>
                        <button type="submit">Enviar</button>
                        <h4 id="usaer"></h4>
                        <h4 id="comentador"></h4>
                    </fieldset>
                </form>
           
            
            <hr class="blanco">
        </article>


<pre>                                                                                                    
                                                                                                    
                                                                                                    
                                                                                                    
                                       ......                                                       
                                     .:.+##*+..                                   ......            
                       ...:--:...   .:.=####+..                       ... .     ..-+##*+:.          
                     ...=*#######=....-*###*.          ..          ..-*###*:. .:.+#%###%#=.         
                    ..-*#########*..::*%##*..        ...+**=:..  ...+#######..::*%##*=####..        
                  .:.+#####*#####*.:.+%##*:....    .:.+##%####-..:.+########..:*###=.:####..        
                ..:.+#####+=#####*..-####=.+####+..:.+###*+####.:.+####-*###..*###+..-####.         
                ..:*####*-.=#####+.:*###*=*#######..+###*.-####:.+####.-###*.+####...+####.         
              ...:*####*:..+#####=.+####*########..+###*..-####:=####...:*#--####...:*###-.         
              .::*####*:...***+=:.-*########*####.+####...=####-*###=.  ....+####...+####.          
            ..:.+####*:....... ...*#######*+####:+####:  .*###++###*...... .*###-..+####..          
            .-.+#####+....     ..-*######=.*####.+###*...=####-*###=..:**=..*###-.*###%..           
           .:.+######...        .+######-.=####*:####:..=*###=-*###-.=*###*.*####*###%...           
           .:.*#####:..    .  ..-*#####:..*####.+####..=*###*.-*###**####=..=########..             
          .:.+######...... .. ..+#####=.::*####.+####.=*###*.-.*#######*..:-:.=*#%+...  ..          
         ..::*#####:......+***+:*####+.:::*####.:#####*###+..--..+##%#......:-----:.   ...          
         .:.=######... ..+#####=*####:.:.-####*..*######%:.......:::::....   ..........             
        ..-.+######.....+#####:=####*..-.+####=:-:..-+=.....=#%#*:........ .......+*%##:.           
        ..-.*######....*#####..*####+..-:.=**+....:---:...::*###=...:+++=.......=*######:           
        ..-.*######..=*#####.:.*####.....----............:.+###*...+######*...:+####*###..          
        ..-.+######+**####+..-:...:=**##*=...........  .:.=####:.-*###*####..=####+=####..          
        ..--.*##########%:.....=+#%%%#####=....-+++-.....-*###-.=*%##:=###*.+####..*###:.           
         ..-::%#######%-....=*############*..:+#######.:.+####.-*###::*###-+####.--:.....           
         ...--........:..-*######*=..=####=.=*%##+*#%#-.=####-:*###--*###=+####===-::..             
          .....::......=########+...:*####.+####:.+###*.+####.+###++####::*###########:             
                    .-.+########. .:*####-=####:..+###*-####-=########*....=#####%#####.            
                    .:-.*+*####-..-*%###=:*###=...+###++####.+#######.+**:..  ....=*##%..           
                    ..--.=####*..+#####:.*###*...+####:*###+:*####+.:*####....-=**###%..            
                      .::*####=+#####+..-####....*####-####-=*###+.+*###=.+*######%*...             
                    ..-.+###########..-.*####...*####.+####:=*####*####.:.*####%=..:..              
                    ..:-#########*....:.*###*..+####:.+####..*#######:..-:....:::...                
                    .-.+#########:....::*####.+####::.+###%.-:...-:.............                    
                   ..::*###########-..-.*####+####..-.#%%#-....:-:..                                
                  ..-.+#####=########+..:########...-----:..   ...                                  
                  ..:.*####=..-########*....=+:..  .......                                          
                  .:.=####%::--.:#########=.::..                                                    
                 ..-.+#####....--:.*########*..                                                     
                 ..:.*####-..  ..--:.-%#####*..                                                     
                 .:.=*###%:.    ...:--:.+%*..                                                       
                ..-.+####*..        ..:--::.                                                        
                ..-.-+:....           ....                                                          
                ..:--:...                                                                           
                  ....                                                                              
                                                                                                    
                                                                                                    
                                                                                                    
                                                                                                    </pre>


        <hr>
    </main>
    <footer>
        <address>

            <p>Desarrollador por ERIC VENEGAS</p>
            <P>Derechos reservados &copy;</P>
        </address>

    </footer>
    



</body>
</html>
