{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chocorol</title>
    <link rel="stylesheet" href="{% static 'myapp/futuroStyle.css' %}">
</head>
<body>
    <header>
        <marquee width="99.9%" direction="right" height="60px"> <h1 class="words">Chocorol Marinela   </h1>         </marquee>
        <nav>
            <fieldset>
                <a href="{% url 'home' %}">Histora</a>
                <a href="#">Vision</a>
                <a href="{% url 'sabores' %}">Sabores</a>
                <a href="{% url 'nutricional' %}">Salud</a>
                <a href="{% url 'contacto' %}">Contacto</a>
            </fieldset>
         
        </nav>

    </header>
    <main>
       
            <hr>
            <h3>VISION <sup>👀</sup></h3>
            <p>El <span style="font-size: 50px;">futuro</span> de los chocorroles se centraría en adaptarse a las tendencias actuales de salud y sostenibilidad, así como en mantener la innovación para satisfacer a una base de consumidores en constante cambio.</p>

            <p>Para mejorar usaremos loas siguientes estrategias:</p>
            <ul>
                <li><a href="#innovacion">Innovación de Productos</a></li> 
                <li><a href="#ingredientes">Ingredientes de Calidad</a></li> 
                <li><a href="#sostenibilidad">Sostenibilidad</a></li> 
                <li><a href="#expansion">Expansión de Mercado</a></li> 
                <li><a href="#estrategia">Estrategia de Marketing Digital</a></li> 
                <li><a href="#relacion">Relación con el Consumidor</a></li> 
            </ul>
            <article>
            <hr class="separador">
        
            <h3 id="innovacion">Innovación de Productos</h3>
            <p>Desarrolar nuevas versiones de chocorroles que se adapten a las preferencias y necesidades dietéticas modernas. Esto incluiría opciones con menos azúcar, versiones integrales, opciones sin gluten y versiones sin lactosa o veganas. Al diversificar la línea de productos, la empresa podría atraer a un público más amplio y satisfacer las demandas de consumidores más conscientes de su salud.</p>

            <hr class="separador">

            <h3 id="ingredientes">Ingredientes de Calidad</h3>
            <p>Invertir en mejorar la calidad de los ingredientes utilizados en los chocorroles. Esto podría incluir el uso de chocolate de comercio justo, mermeladas hechas con frutas frescas y reducir o eliminar conservantes y aditivos artificiales. Al centrarme en ingredientes de alta calidad, podría posicionar a los chocorroles como una opción de snack más premium y saludable.</p>

            <hr class="separador">

            <h3 id="sostenibilidad">Sostenibilidad</h3>
            <p>Adoptar prácticas más sostenibles en la producción y distribución de los chocorroles. Esto incluiría reducir el uso de plásticos en los empaques, optar por materiales reciclables o biodegradables, y minimizar la huella de carbono de las operaciones. También consideraría asociaciones con proveedores locales para reducir el impacto ambiental y apoyar las economías locales.</p>

            <hr class="separador">

            <h3 id="expansion">Expansión de Mercado</h3>
            <p>Buscar expandir la presencia de los chocorroles a mercados internacionales, especialmente en regiones donde los productos dulces y snacks mexicanos no son tan comunes. Adaptaría las recetas y empaques para que sean más atractivos a nivel global, respetando las preferencias culturales y los requisitos locales.</p>

            <hr class="separador">

            <h3 id="estrategia">Estrategia de Marketing Digital</h3>
            <p>Fortalecer la presencia digital de la marca mediante una estrategia de marketing digital robusta. Esto incluiría campañas en redes sociales, colaboraciones con influencers, y la creación de contenido interactivo que resuene con las audiencias jóvenes. Las promociones en línea y las campañas de responsabilidad social corporativa también ayudarían a construir una imagen de marca positiva y comprometida.</p>

            <hr class="separador">

            <h3 id="relacion">Relación con el Consumidor</h3>
            <p>Mejorar la comunicación y relación con los consumidores a través de encuestas, programas de lealtad y feedback constante. Entender qué es lo que más valoran y desean los clientes ayudaría a dirigir las futuras innovaciones y mejoras en los productos.</p>
            <hr> 
        </article>
    </main>

   
    <footer>
        <address>

            <p>Desarrollador por ERIC VENEGAS</p>
            <P>Derechos reservados &copy;</P>
        </address>

    </footer>
    



</body>
</html>
